p {
  text-align: center;
  color: white;
  border-radius: 70%;
  border: 5px solid aliceblue;
  margin-left: 80px;
  margin-right: 80px;
  padding: 80px;
}
div {
  margin-left: 80px;
  margin-right: 80px;
}
body {
  border: 5px solid aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(/images/background.jpg) center/cover fixed no-repeat;
}
h2 {
  text-decoration: underline;
  text-align: center;
  color: aliceblue;
}
.icon {
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes change {
  0% {
    color: violet;
  }
  14.28% {
    color: indigo;
  }
  28.57% {
    color: blue;
  }
  42.85% {
    color: green;
  }
  57.14% {
    color: yellow;
  }
  71.42% {
    color: orange;
  }
  85.71% {
    color: red;
  }
  100% {
    color: violet;
  }
}
