* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#payment {
  border-radius: 3px;
  background-color: green;
  padding: 5px;
  margin-left: 45%;
  margin-top: 25px;
  font-size: 25px;
  cursor: pointer;
}
table {
  margin-left: 480px;
  color: aliceblue;
  border: 5px solid aliceblue;
  padding: 5px;
  font-size: 20px;
}
p {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}
body {
  border: 5px solid aliceblue;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/background.jpg) center/cover fixed no-repeat;
}
ul {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  color: aliceblue;
  font-size: 20px;
}
h2 {
  text-decoration: underline;
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}
.icon {
  color: aliceblue;
  font-size: 18px;
}
li {
  border: 2px solid aliceblue;
  padding: 15px;
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
}
img:hover {
  transform: translate(10px, 10px);
  cursor: pointer;
}
button {
  border: none;
  background: none;
}
